/* --- 일반 구조 선택자 --- */

/*  A:first.child */
/* 형제들 중 첫 번째가 A가 맞다면 선택   */
#test1 > p:first-child{
    background-color: red;
    color : white;
}


/*  A:last.child */
/* 형제들 중 마지막이 A가 맞다면 선택   */
#test1 > pre:last-child{
    background-color: blue;
    color : white;
}


/*  A:nth.child(숫자 또는 수열) */
/* 형제들 중 n번째가 A가 맞다면 선택   */
#test1 > p:nth-child(3){
  background-color: yellow;
}

/* 홀수 번째가 p태그인 경우 선택 */
#test1 > p:nth-child(2n-1){
  text-decoration: line-through; /* 가운데 선 */
}

/* 짝수 번째가 p태그인 경우 선택 */
#test1 > p:nth-child(2n){
  font-family: "궁서체"; 
  font-weight: bold;
  font-size: 30px;
}

/* A:nth-last-child(숫자 또는 수열) */
/* 형제들 중 뒤에서 부터 n번째가 A가 맞다면 */
#test1 > p:nth-last-child(4){
    border : 5px dotted black;
}


/* ---- 형태 구조 선택자 ---- */

/* A:first-of-type */
/* 선태된 A 요소들 중 첫 번째 */
#test2 > p:first-of-type{
    background-color: tomato;
}

/* A:last-of-type */
/* 선태된 A 요소들 중 마지막 */
#test2 > p:last-of-type{
    background-color: cyan;
}

/* A:nth-of-type(숫자 또는 수열) */
/* 선태된 A 요소들 중 n번째 선택 */
#test2 > p:nth-of-type(2){
    background-color: yellow;
}

#test2 > p:nth-of-type(2n){
    background-color: black;
    color : white;
}

/* A:nth-last-of-type(숫자 또는 수열) */
/* 선태된 A 요소들 중 뒤에서 n번째 선택 */
#test2 > p:nth-last-of-type(2):hover + p{
    color : yellow
}



/* 부정 선택자 */

#test3 > li:not(:nth-of-type(3n)){
    background-color: pink;
}