/* 클래스 기반 CSS(스타일) */

.area1{ background-color: red;}
.area2{ background-color: orange;}
.area3{ background-color: yellow;}
.area4{ background-color: green;}
.area5{ background-color: blue;}

.block{
    border : 1px solid black;
    width: 150px;
    height: 150px;
    color: white;
    display: block;
}

.inline{ display: inline;}

.inline-block{display: inline-block;}

.none {display: none;}


/* visibility 속성 : 요소를 보이게/투명하게 만드는 속성 
  -> 투명하게 만들어도 요소 크기 만큼의 공간은 계속 차지하고 있음
*/
.hidden{visibility: hidden;}


/* -------------------------------------------------------------- */

/* 상하 2분할 */

/* 감싸는 요소 */
.container{
    border: 3px solid black;
    width: 471px;
    height: 471px;
}

/* 내부 영역 분할 요소(자식) */
#test1 > div{
    width: 100%;
    height: 50%;
}

#test1 > div:first-child{
    background-color: lightblue;
}

#test1 > div:last-child{
    background-color: blue;
}
  


/* 상하 3분할 */

#test2 > div:nth-child(1) {
    height: 20%;
    background-color: aqua;
}

#test2 > div:nth-child(2) {
    height: 30%;
    background-color: aquamarine;
}

#test2 > div:nth-child(3) {
    height: 50%;
    background-color: blue;
}


/* 상하 3분할 - 방법 2 */
.bg-red{background-color: red;}
.bg-yellow{background-color: yellow;}
.bg-green{background-color: green;}

.h-20{height: 20%;}
.h-30{height: 30%;}
.h-50{height: 50%; display: inline-block;}


/* 좌우 2분할 */

#test4 > div{
    width: 50%;
    height: 100%;
    display: inline-block;
}

#test4 > div:first-child{
    background-color: red;
}

#test4 > div:last-child{
    background-color: blue;
}

/*  田 만들기(상하, 좌우 2분할) */

  .row{
    width: 100%;
    height: 50%;
  }
  
  .col{
    width: 50%;
    height: 100%;
    display: inline-block;
  }



/* 방법 2 */

#test6{
    /* inline, inline-block, 글들 사이의 높이 간격 0 */
    line-height: 0;
}

#test6 > div{
    width: 50%;
    height: 50%;
    display: inline-block;
} 

#test6 > div:nth-child(1){background-color: pink;}
#test6 > div:nth-child(2){background-color: yellow;}
#test6 > div:nth-child(3){background-color: yellowgreen;}
#test6 > div:nth-child(4){background-color: skyblue;}





