:root{
    --main-color : grey;
    
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  
  }
  
  a{
      color : black;
      text-decoration: none; /
  }
  
  ul{
      list-style: none; 
  }
  
  body{
      display: flex;
      flex-direction: column;
  
      
      min-width: 768px;
      min-height: 100vh;  
  }
  
  
  
  /* ----------------- header ----------------- */
  header{
      
      padding: 20px 0; 
      border-bottom: 2px solid var(--main-color);
  
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .header-container{
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 70px;
      width: 100%;    

      
  }
  .header-container > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .header-container-left *{
    height: 100%;
    position: relative;
    
   
  } 

  .header-container-right a{
    font-size: 1.2em;
    font-weight: bold;
    padding: 50px;
    width:  50%;
    
    
    
    
    
  }



  /* ---------  nav --------- */
  nav{
    padding: 5px 10px; 
    border-bottom: 2px solid var(--main-color);
    background-color: white;
    position: sticky;
    top : -1px;
    z-index: 1000; 
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar > li{
    width: 20%;
    height: 50px;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > li > a{
    font-size: 1.4em; 
    font-weight: bold;
    color: black;
    

    padding: 5px 10px;
    text-align: center; 
}


.navbar > li > a:hover{
  color:tomato;
}


.baneer{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.content-out{
    
    margin: 80px 0 20px;
    
}

.ban1{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap
    
}

.ban1-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    
}
.ban1-1-1{
    width: 20%;
    display: flex;
    flex-direction: center;
    text-align: center;
}



.ban1-2{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    
}

.ban1-3{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.ban2title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 200px 0 10px;
    font-size: 60px;
}

.ban2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.ban2-1{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}
.ban2-2{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}
.ban2-3{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}
.ban2-4{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}



 .foot{
    display: flex;

    background-color: rgba(0, 0, 0, 0.9);

    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: space-evenly ;

    color: white;
    display: flex;
    
 }

 .foot > dl > dt{
    font-size: 30px;
 }

 .foot1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .foot2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .foot3{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .end{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: end;
 }
 
 .foot > dl > dd{
    text-decoration-line:underline
    var(--main-color)
 }